.card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 7rem;
    margin-top: 3.8rem;
    margin-left: 2rem;
    margin-right: 3rem
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    border-color: rgb(107, 255, 255);
    border: 10rem;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    transform-style: preserve-3d;
    height: 450px;
    width: 400px;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    color:rgba(77, 73, 73, 0.329)
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front .container {
    display: flex;
    flex-flow: column;
    object-fit: fill;
    margin-bottom: 3.5rem;

}

.card .front .container img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    float: left;
    border-radius: 1rem;
    display: block;
    text-align: center;
    position: relative;
    width: 100%;
}

.card .front {
    margin-top: .5rem;
    font-size: xx-large;
    font-weight: bolder;
    color:white;
    text-align: center;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
    font-size: x-large;
    font-weight: bolder;
    color: white;
    margin-top: 12rem;
}

.card .back h2{
    font-size: 25px;
    display: block;
    margin-bottom: 4rem;
}

.card .back h3{
    font-size: 25px;
    display: block;
    margin-bottom: 12rem;
}

.card .back span{
    margin-right: 1rem;
}