p {
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
}
.description button {
    width: 100%;
    padding: 10px;
    border: 5px solid #000;
    outline: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.99rem;
    font-weight: bolder;
    color: white;
    background: black;
    cursor: pointer;
    transition: 0.3s linear;
}