nav{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px 10px;
    margin-left: 100px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}